.right-table {
  max-width: 397px;
}
.profit-curency {
  padding: 8px 0px 12px 10px;
  margin: 10px 0px;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 7px 2px rgba(210, 219, 225, 0.2);
-moz-box-shadow: 2px 5px 7px 2px rgba(210, 219, 225, 0.2);
box-shadow: 2px 5px 7px 2px rgba(210, 219, 225, 0.2);
  height: 101px;
}
.curency {
  display: flex;
  align-items: center;
  padding: 21px 0px;
  justify-content: space-between;
}
.curency select {
  margin-right: 10px;
}
.title-curency {
  font-weight: bold;
  font-size: 20px;
  color: #323338;
  padding-top: 5px;
}
.curency-text {
  color: #575759;
  font-size: 13px;
  padding: 0px 10px 0px 38px;
  font-weight: 500;
}
.title-item {
  color: #605f64;
  font-size: 14px;
}
.curency-value {
  font-weight: bold;
  color: #3a393f;
  font-size: 14px;
  padding: 15px 10px;
}
.item {
  text-align: center;
  max-width: 145px;
  position: relative;
  padding-right: 12px;
}
.most-profit::before {
  content: "";
  display: block;
  height: 70px;
  width: 2px;
  background: #c2c8c8;
  position: absolute;
  top: 0;
  right: 0;
}
.active-curency::before {
  content: "";
  display: block;
  height: 70px;
  width: 2px;
  background: #c2c8c8;
  position: absolute;
  top: 0;
  right: 0;
}

/*Select Styles Curency*/

.input-select-change {
  display: none;
}

#text {
  position: absolute;
  display: block;
  top: 4px;
  padding-left: 24px;
}

.select {
  display: inline-block;
  width: 100px;
  height: 34px;
  line-height: 30px;
  position: relative;
}

.select:before {
  content: "";
  border: solid rgb(248, 245, 245);
  border-width: 0 2px 2px 0;
  padding: 4px;
  display: inline-block;
  color: #fff;
  position: absolute;
  right: 2px;
  top: 12px;
  z-index: 2;
  text-align: center;
  transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
}

.select input[name="list"]:not(:checked) ~ #text {
  color: #fff;
}

.select input[name="list"]:checked ~ #text {
  background: transparent;
  color: transparent;
  z-index: 2;
}

#select:disabled ~ .items #text {
  background: #eee;
}

.items {
  display: block;
  min-height: 30px;
  position: absolute;
  overflow: hidden;
  width: 100px;
  cursor: pointer;
  background: #656e8d;
  border-radius: 10px;
  padding: 3px;
  font-size: 18px;
}

#select:not(:checked) ~ .items {
  height: 30px;
}

.items label {
  border-top: 1px solid #ddd;
  display: none;
  color: #fff;
  padding-left: 24px;
}

.items label:hover {
  cursor: pointer;
}

#select:checked ~ .items {
  padding-top: 30px;
}

#select:checked ~ .items label {
  display: block;
}

.items input:checked + label {
  display: block!important;
  border: none;
}
/*End Select Styles*/